<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> - hexschool</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>發完 PR 後可以下班嗎？</p>
    <p>老蘇想的太美囉</p>
  </body>
</html>
